--
-- PostgreSQL database dump
--

\restrict HCpsgW0pcqjmbMN1ZXu1EDe0KxkXBNR2oZESkY9g5hfGuyDdXBTYL3d66iM3nHS

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vg-sc1; Type: SCHEMA; Schema: -; Owner: vgroot
--

CREATE SCHEMA "vg-sc1";


ALTER SCHEMA "vg-sc1" OWNER TO vgroot;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: basket; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".basket (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    basket_number integer NOT NULL,
    self_weight numeric(10,3) NOT NULL,
    is_active boolean DEFAULT true,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".basket OWNER TO vgroot;

--
-- Name: basket_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".basket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".basket_id_seq OWNER TO vgroot;

--
-- Name: basket_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".basket_id_seq OWNED BY "vg-sc1".basket.id;


--
-- Name: bobbin; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".bobbin (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    bobbin_number integer NOT NULL,
    is_active boolean DEFAULT true,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".bobbin OWNER TO vgroot;

--
-- Name: bobbin_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".bobbin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".bobbin_id_seq OWNER TO vgroot;

--
-- Name: bobbin_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".bobbin_id_seq OWNED BY "vg-sc1".bobbin.id;


--
-- Name: business_units; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".business_units (
    id bigint NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".business_units OWNER TO vgroot;

--
-- Name: business_units_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".business_units_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".business_units_id_seq OWNER TO vgroot;

--
-- Name: business_units_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".business_units_id_seq OWNED BY "vg-sc1".business_units.id;


--
-- Name: color; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".color (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    hex_code character varying(7),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".color OWNER TO vgroot;

--
-- Name: color_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".color_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".color_id_seq OWNER TO vgroot;

--
-- Name: color_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".color_id_seq OWNED BY "vg-sc1".color.id;


--
-- Name: databasechangelog; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".databasechangelog (
    id character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    filename character varying(255) NOT NULL,
    dateexecuted timestamp without time zone NOT NULL,
    orderexecuted integer NOT NULL,
    exectype character varying(10) NOT NULL,
    md5sum character varying(35),
    description character varying(255),
    comments character varying(255),
    tag character varying(255),
    liquibase character varying(20),
    contexts character varying(255),
    labels character varying(255),
    deployment_id character varying(10)
);


ALTER TABLE "vg-sc1".databasechangelog OWNER TO vgroot;

--
-- Name: databasechangeloglock; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".databasechangeloglock (
    id integer NOT NULL,
    locked boolean NOT NULL,
    lockgranted timestamp without time zone,
    lockedby character varying(255)
);


ALTER TABLE "vg-sc1".databasechangeloglock OWNER TO vgroot;

--
-- Name: form_field; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".form_field (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    field_type bigint NOT NULL,
    field_data_type bigint NOT NULL,
    required boolean DEFAULT false NOT NULL,
    active boolean DEFAULT true NOT NULL,
    label character varying(50),
    placeholder character varying(50),
    default_value character varying(50),
    display_order integer DEFAULT 0,
    master bigint DEFAULT '-1'::integer,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".form_field OWNER TO vgroot;

--
-- Name: form_field_data_types; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".form_field_data_types (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(50),
    description character varying(255),
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".form_field_data_types OWNER TO vgroot;

--
-- Name: form_field_data_types_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".form_field_data_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".form_field_data_types_id_seq OWNER TO vgroot;

--
-- Name: form_field_data_types_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".form_field_data_types_id_seq OWNED BY "vg-sc1".form_field_data_types.id;


--
-- Name: form_field_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".form_field_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".form_field_id_seq OWNER TO vgroot;

--
-- Name: form_field_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".form_field_id_seq OWNED BY "vg-sc1".form_field.id;


--
-- Name: form_field_types; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".form_field_types (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    short_name character varying(50),
    description character varying(255),
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".form_field_types OWNER TO vgroot;

--
-- Name: form_field_types_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".form_field_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".form_field_types_id_seq OWNER TO vgroot;

--
-- Name: form_field_types_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".form_field_types_id_seq OWNED BY "vg-sc1".form_field_types.id;


--
-- Name: form_template; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".form_template (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    loc_id bigint NOT NULL,
    attributes jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0,
    headers jsonb
);


ALTER TABLE "vg-sc1".form_template OWNER TO vgroot;

--
-- Name: form_template_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".form_template_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".form_template_id_seq OWNER TO vgroot;

--
-- Name: form_template_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".form_template_id_seq OWNED BY "vg-sc1".form_template.id;


--
-- Name: inspection_status; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".inspection_status (
    id integer NOT NULL,
    code character varying(20) NOT NULL,
    display_name character varying(50) NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".inspection_status OWNER TO vgroot;

--
-- Name: inspection_status_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".inspection_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".inspection_status_id_seq OWNER TO vgroot;

--
-- Name: inspection_status_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".inspection_status_id_seq OWNED BY "vg-sc1".inspection_status.id;


--
-- Name: items; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".items (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    loc_id bigint NOT NULL,
    attributes jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".items OWNER TO vgroot;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".items_id_seq OWNER TO vgroot;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".items_id_seq OWNED BY "vg-sc1".items.id;


--
-- Name: location; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".location (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    location_type_id bigint NOT NULL,
    parent_loc_id bigint,
    unit_id bigint,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".location OWNER TO vgroot;

--
-- Name: location_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".location_id_seq OWNER TO vgroot;

--
-- Name: location_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".location_id_seq OWNED BY "vg-sc1".location.id;


--
-- Name: location_type; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".location_type (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".location_type OWNER TO vgroot;

--
-- Name: location_type_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".location_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".location_type_id_seq OWNER TO vgroot;

--
-- Name: location_type_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".location_type_id_seq OWNED BY "vg-sc1".location_type.id;


--
-- Name: master_data_registry; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".master_data_registry (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    table_name character varying(63) NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".master_data_registry OWNER TO vgroot;

--
-- Name: master_data_registry_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".master_data_registry_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".master_data_registry_id_seq OWNER TO vgroot;

--
-- Name: master_data_registry_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".master_data_registry_id_seq OWNED BY "vg-sc1".master_data_registry.id;


--
-- Name: pallet_table; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".pallet_table (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    pallet_number integer NOT NULL,
    is_active boolean DEFAULT true,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".pallet_table OWNER TO vgroot;

--
-- Name: pallet_table_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".pallet_table_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".pallet_table_id_seq OWNER TO vgroot;

--
-- Name: pallet_table_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".pallet_table_id_seq OWNED BY "vg-sc1".pallet_table.id;


--
-- Name: pkg_material; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".pkg_material (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    pkg_material_type_id bigint NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".pkg_material OWNER TO vgroot;

--
-- Name: pkg_material_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".pkg_material_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".pkg_material_id_seq OWNER TO vgroot;

--
-- Name: pkg_material_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".pkg_material_id_seq OWNED BY "vg-sc1".pkg_material.id;


--
-- Name: pkg_material_type; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".pkg_material_type (
    id bigint NOT NULL,
    type character varying(100) NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".pkg_material_type OWNER TO vgroot;

--
-- Name: pkg_material_type_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".pkg_material_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".pkg_material_type_id_seq OWNER TO vgroot;

--
-- Name: pkg_material_type_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".pkg_material_type_id_seq OWNED BY "vg-sc1".pkg_material_type.id;


--
-- Name: privileges; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".privileges (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".privileges OWNER TO vgroot;

--
-- Name: privileges_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".privileges_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".privileges_id_seq OWNER TO vgroot;

--
-- Name: privileges_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".privileges_id_seq OWNED BY "vg-sc1".privileges.id;


--
-- Name: raw_material; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".raw_material (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    raw_material_type_id bigint NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".raw_material OWNER TO vgroot;

--
-- Name: raw_material_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".raw_material_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".raw_material_id_seq OWNER TO vgroot;

--
-- Name: raw_material_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".raw_material_id_seq OWNED BY "vg-sc1".raw_material.id;


--
-- Name: raw_material_type; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".raw_material_type (
    id bigint NOT NULL,
    type character varying(100) NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".raw_material_type OWNER TO vgroot;

--
-- Name: raw_material_type_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".raw_material_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".raw_material_type_id_seq OWNER TO vgroot;

--
-- Name: raw_material_type_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".raw_material_type_id_seq OWNED BY "vg-sc1".raw_material_type.id;


--
-- Name: roles; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".roles (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".roles OWNER TO vgroot;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".roles_id_seq OWNER TO vgroot;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".roles_id_seq OWNED BY "vg-sc1".roles.id;


--
-- Name: roles_privileges; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".roles_privileges (
    role_id bigint NOT NULL,
    privilege_id bigint NOT NULL
);


ALTER TABLE "vg-sc1".roles_privileges OWNER TO vgroot;

--
-- Name: scrap; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".scrap (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    scrap_type_id bigint NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".scrap OWNER TO vgroot;

--
-- Name: scrap_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".scrap_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".scrap_id_seq OWNER TO vgroot;

--
-- Name: scrap_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".scrap_id_seq OWNED BY "vg-sc1".scrap.id;


--
-- Name: scrap_type; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".scrap_type (
    id bigint NOT NULL,
    type character varying(100) NOT NULL,
    version bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "vg-sc1".scrap_type OWNER TO vgroot;

--
-- Name: scrap_type_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".scrap_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".scrap_type_id_seq OWNER TO vgroot;

--
-- Name: scrap_type_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".scrap_type_id_seq OWNED BY "vg-sc1".scrap_type.id;


--
-- Name: size; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".size (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    val numeric(15,4) NOT NULL,
    uom character varying(10) NOT NULL,
    sort_order integer NOT NULL,
    category character varying(50),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".size OWNER TO vgroot;

--
-- Name: size_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".size_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".size_id_seq OWNER TO vgroot;

--
-- Name: size_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".size_id_seq OWNED BY "vg-sc1".size.id;


--
-- Name: spool; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".spool (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    spool_number integer NOT NULL,
    self_weight numeric(10,3) NOT NULL,
    is_active boolean DEFAULT true,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".spool OWNER TO vgroot;

--
-- Name: spool_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".spool_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".spool_id_seq OWNER TO vgroot;

--
-- Name: spool_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".spool_id_seq OWNED BY "vg-sc1".spool.id;


--
-- Name: supplier; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".supplier (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    sort_order integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".supplier OWNER TO vgroot;

--
-- Name: supplier_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".supplier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".supplier_id_seq OWNER TO vgroot;

--
-- Name: supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".supplier_id_seq OWNED BY "vg-sc1".supplier.id;


--
-- Name: uom; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".uom (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20) NOT NULL,
    category character varying(50) NOT NULL,
    conversion_factor numeric(19,10) DEFAULT 1.0 NOT NULL,
    formula character varying(255) NOT NULL,
    decimal_places integer DEFAULT 4,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".uom OWNER TO vgroot;

--
-- Name: uom_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".uom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".uom_id_seq OWNER TO vgroot;

--
-- Name: uom_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".uom_id_seq OWNED BY "vg-sc1".uom.id;


--
-- Name: users; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    code character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    enabled boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".users OWNER TO vgroot;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".users_id_seq OWNER TO vgroot;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".users_id_seq OWNED BY "vg-sc1".users.id;


--
-- Name: users_roles; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".users_roles (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE "vg-sc1".users_roles OWNER TO vgroot;

--
-- Name: wire; Type: TABLE; Schema: vg-sc1; Owner: vgroot
--

CREATE TABLE "vg-sc1".wire (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    val numeric(15,4) NOT NULL,
    uom character varying(10) NOT NULL,
    sort_order integer NOT NULL,
    category character varying(50),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    version bigint DEFAULT 0
);


ALTER TABLE "vg-sc1".wire OWNER TO vgroot;

--
-- Name: wire_id_seq; Type: SEQUENCE; Schema: vg-sc1; Owner: vgroot
--

CREATE SEQUENCE "vg-sc1".wire_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "vg-sc1".wire_id_seq OWNER TO vgroot;

--
-- Name: wire_id_seq; Type: SEQUENCE OWNED BY; Schema: vg-sc1; Owner: vgroot
--

ALTER SEQUENCE "vg-sc1".wire_id_seq OWNED BY "vg-sc1".wire.id;


--
-- Name: basket id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".basket ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".basket_id_seq'::regclass);


--
-- Name: bobbin id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".bobbin ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".bobbin_id_seq'::regclass);


--
-- Name: business_units id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".business_units ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".business_units_id_seq'::regclass);


--
-- Name: color id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".color ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".color_id_seq'::regclass);


--
-- Name: form_field id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".form_field_id_seq'::regclass);


--
-- Name: form_field_data_types id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field_data_types ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".form_field_data_types_id_seq'::regclass);


--
-- Name: form_field_types id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field_types ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".form_field_types_id_seq'::regclass);


--
-- Name: form_template id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_template ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".form_template_id_seq'::regclass);


--
-- Name: inspection_status id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".inspection_status ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".inspection_status_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".items ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".items_id_seq'::regclass);


--
-- Name: location id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".location_id_seq'::regclass);


--
-- Name: location_type id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location_type ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".location_type_id_seq'::regclass);


--
-- Name: master_data_registry id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".master_data_registry ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".master_data_registry_id_seq'::regclass);


--
-- Name: pallet_table id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pallet_table ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".pallet_table_id_seq'::regclass);


--
-- Name: pkg_material id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pkg_material ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".pkg_material_id_seq'::regclass);


--
-- Name: pkg_material_type id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pkg_material_type ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".pkg_material_type_id_seq'::regclass);


--
-- Name: privileges id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".privileges ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".privileges_id_seq'::regclass);


--
-- Name: raw_material id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".raw_material ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".raw_material_id_seq'::regclass);


--
-- Name: raw_material_type id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".raw_material_type ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".raw_material_type_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".roles ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".roles_id_seq'::regclass);


--
-- Name: scrap id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".scrap ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".scrap_id_seq'::regclass);


--
-- Name: scrap_type id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".scrap_type ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".scrap_type_id_seq'::regclass);


--
-- Name: size id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".size ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".size_id_seq'::regclass);


--
-- Name: spool id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".spool ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".spool_id_seq'::regclass);


--
-- Name: supplier id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".supplier ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".supplier_id_seq'::regclass);


--
-- Name: uom id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".uom ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".uom_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".users ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".users_id_seq'::regclass);


--
-- Name: wire id; Type: DEFAULT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".wire ALTER COLUMN id SET DEFAULT nextval('"vg-sc1".wire_id_seq'::regclass);


--
-- Data for Name: basket; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--



--
-- Data for Name: bobbin; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".bobbin (id, name, code, bobbin_number, is_active, sort_order, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: business_units; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".business_units (id, code, name, created_at, updated_at, version) FROM stdin;
1	BU_KASHIPUR_001	Kashipur Unit	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0
2	BU_ROORKEE_002	Roorkee Unit	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0
\.


--
-- Data for Name: color; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".color (id, name, code, hex_code, is_active, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: databasechangelog; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--



--
-- Data for Name: databasechangeloglock; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".databasechangeloglock (id, locked, lockgranted, lockedby) FROM stdin;
1	f	\N	\N
\.


--
-- Data for Name: form_field; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".form_field (id, name, field_type, field_data_type, required, active, label, placeholder, default_value, display_order, master, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: form_field_data_types; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--



--
-- Data for Name: form_field_types; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--



--
-- Data for Name: form_template; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".form_template (id, name, loc_id, attributes, created_at, updated_at, version, headers) FROM stdin;
1	Production Form Template	1	[{"name": "machine_id", "label": "Machine ID", "active": true, "required": true, "fieldType": 1, "placeholder": "Enter machine ID", "displayOrder": 1, "fieldDataType": 1}]	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0	[{"key": "prod_code", "name": "Product Code", "formula": null, "displayOrder": 1}, {"key": "total_weight", "name": "Total Weight", "formula": "gross_weight - tare_weight", "displayOrder": 2}]
\.


--
-- Data for Name: inspection_status; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".inspection_status (id, code, display_name, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".items (id, name, loc_id, attributes, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: location; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".location (id, name, location_type_id, parent_loc_id, unit_id, created_at, updated_at, version) FROM stdin;
1	PRODUCTION	1	\N	1	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0
2	MMH	2	1	1	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0
\.


--
-- Data for Name: location_type; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".location_type (id, name, code, version, created_at, updated_at) FROM stdin;
1	Root Location	ROOT_LOC	0	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30
2	SUB Location	SUB_LOC	0	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30
\.


--
-- Data for Name: master_data_registry; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".master_data_registry (id, name, table_name, version, created_at, updated_at) FROM stdin;
1	Basket	basket	0	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30
2	Supplier	supplier	0	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30
3	Location	location	0	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30
4	Spool	spool	0	2026-09-05 14:39:36.123382+05:30	2026-09-05 14:39:36.123382+05:30
\.


--
-- Data for Name: pallet_table; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".pallet_table (id, name, code, pallet_number, is_active, sort_order, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: pkg_material; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".pkg_material (id, name, code, pkg_material_type_id, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: pkg_material_type; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".pkg_material_type (id, type, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: privileges; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".privileges (id, name, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: raw_material; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".raw_material (id, name, code, raw_material_type_id, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: raw_material_type; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".raw_material_type (id, type, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".roles (id, name, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: roles_privileges; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".roles_privileges (role_id, privilege_id) FROM stdin;
\.


--
-- Data for Name: scrap; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".scrap (id, name, code, scrap_type_id, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: scrap_type; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".scrap_type (id, type, version, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: size; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".size (id, name, val, uom, sort_order, category, is_active, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: spool; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".spool (id, name, code, spool_number, self_weight, is_active, sort_order, created_at, updated_at, version) FROM stdin;
1	Standard Spool S1	SPL-S1	201	10.250	t	1	2026-09-05 14:39:36.123382+05:30	2026-09-05 14:39:36.123382+05:30	0
\.


--
-- Data for Name: supplier; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".supplier (id, name, code, is_active, sort_order, created_at, updated_at, version) FROM stdin;
1	Acme Manufacturing	SUP-ACME	t	1	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0
2	Global Supplies Co.	SUP-GLOB	t	2	2026-05-04 18:25:51.611349+05:30	2026-05-04 18:25:51.611349+05:30	0
\.


--
-- Data for Name: uom; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".uom (id, name, code, category, conversion_factor, formula, decimal_places, is_active, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".users (id, email, code, password, enabled, created_at, updated_at, version) FROM stdin;
\.


--
-- Data for Name: users_roles; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".users_roles (user_id, role_id) FROM stdin;
\.


--
-- Data for Name: wire; Type: TABLE DATA; Schema: vg-sc1; Owner: vgroot
--

COPY "vg-sc1".wire (id, name, val, uom, sort_order, category, is_active, created_at, updated_at, version) FROM stdin;
\.


--
-- Name: basket_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".basket_id_seq', 10, true);


--
-- Name: bobbin_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".bobbin_id_seq', 1, false);


--
-- Name: business_units_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".business_units_id_seq', 2, true);


--
-- Name: color_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".color_id_seq', 1, false);


--
-- Name: form_field_data_types_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".form_field_data_types_id_seq', 19, true);


--
-- Name: form_field_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".form_field_id_seq', 1, false);


--
-- Name: form_field_types_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".form_field_types_id_seq', 25, true);


--
-- Name: form_template_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".form_template_id_seq', 1, true);


--
-- Name: inspection_status_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".inspection_status_id_seq', 1, false);


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".items_id_seq', 1, false);


--
-- Name: location_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".location_id_seq', 2, true);


--
-- Name: location_type_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".location_type_id_seq', 2, true);


--
-- Name: master_data_registry_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".master_data_registry_id_seq', 4, true);


--
-- Name: pallet_table_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".pallet_table_id_seq', 1, false);


--
-- Name: pkg_material_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".pkg_material_id_seq', 1, false);


--
-- Name: pkg_material_type_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".pkg_material_type_id_seq', 1, false);


--
-- Name: privileges_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".privileges_id_seq', 1, false);


--
-- Name: raw_material_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".raw_material_id_seq', 1, false);


--
-- Name: raw_material_type_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".raw_material_type_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".roles_id_seq', 1, false);


--
-- Name: scrap_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".scrap_id_seq', 1, false);


--
-- Name: scrap_type_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".scrap_type_id_seq', 1, false);


--
-- Name: size_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".size_id_seq', 1, false);


--
-- Name: spool_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".spool_id_seq', 1, true);


--
-- Name: supplier_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".supplier_id_seq', 2, true);


--
-- Name: uom_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".uom_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".users_id_seq', 1, false);


--
-- Name: wire_id_seq; Type: SEQUENCE SET; Schema: vg-sc1; Owner: vgroot
--

SELECT pg_catalog.setval('"vg-sc1".wire_id_seq', 1, false);


--
-- Name: basket basket_basket_number_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".basket
    ADD CONSTRAINT basket_basket_number_key UNIQUE (basket_number);


--
-- Name: basket basket_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".basket
    ADD CONSTRAINT basket_code_key UNIQUE (code);


--
-- Name: basket basket_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".basket
    ADD CONSTRAINT basket_name_key UNIQUE (name);


--
-- Name: basket basket_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".basket
    ADD CONSTRAINT basket_pkey PRIMARY KEY (id);


--
-- Name: bobbin bobbin_bobbin_number_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".bobbin
    ADD CONSTRAINT bobbin_bobbin_number_key UNIQUE (bobbin_number);


--
-- Name: bobbin bobbin_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".bobbin
    ADD CONSTRAINT bobbin_code_key UNIQUE (code);


--
-- Name: bobbin bobbin_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".bobbin
    ADD CONSTRAINT bobbin_name_key UNIQUE (name);


--
-- Name: bobbin bobbin_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".bobbin
    ADD CONSTRAINT bobbin_pkey PRIMARY KEY (id);


--
-- Name: business_units business_units_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".business_units
    ADD CONSTRAINT business_units_pkey PRIMARY KEY (id);


--
-- Name: color color_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".color
    ADD CONSTRAINT color_code_key UNIQUE (code);


--
-- Name: color color_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".color
    ADD CONSTRAINT color_name_key UNIQUE (name);


--
-- Name: color color_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".color
    ADD CONSTRAINT color_pkey PRIMARY KEY (id);


--
-- Name: databasechangeloglock databasechangeloglock_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".databasechangeloglock
    ADD CONSTRAINT databasechangeloglock_pkey PRIMARY KEY (id);


--
-- Name: form_field_data_types form_field_data_types_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field_data_types
    ADD CONSTRAINT form_field_data_types_name_key UNIQUE (name);


--
-- Name: form_field_data_types form_field_data_types_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field_data_types
    ADD CONSTRAINT form_field_data_types_pkey PRIMARY KEY (id);


--
-- Name: form_field form_field_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field
    ADD CONSTRAINT form_field_name_key UNIQUE (name);


--
-- Name: form_field form_field_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field
    ADD CONSTRAINT form_field_pkey PRIMARY KEY (id);


--
-- Name: form_field_types form_field_types_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field_types
    ADD CONSTRAINT form_field_types_name_key UNIQUE (name);


--
-- Name: form_field_types form_field_types_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field_types
    ADD CONSTRAINT form_field_types_pkey PRIMARY KEY (id);


--
-- Name: form_template form_template_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_template
    ADD CONSTRAINT form_template_pkey PRIMARY KEY (id);


--
-- Name: inspection_status inspection_status_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".inspection_status
    ADD CONSTRAINT inspection_status_code_key UNIQUE (code);


--
-- Name: inspection_status inspection_status_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".inspection_status
    ADD CONSTRAINT inspection_status_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location
    ADD CONSTRAINT location_pkey PRIMARY KEY (id);


--
-- Name: location_type location_type_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location_type
    ADD CONSTRAINT location_type_pkey PRIMARY KEY (id);


--
-- Name: master_data_registry master_data_registry_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".master_data_registry
    ADD CONSTRAINT master_data_registry_name_key UNIQUE (name);


--
-- Name: master_data_registry master_data_registry_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".master_data_registry
    ADD CONSTRAINT master_data_registry_pkey PRIMARY KEY (id);


--
-- Name: pallet_table pallet_table_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pallet_table
    ADD CONSTRAINT pallet_table_code_key UNIQUE (code);


--
-- Name: pallet_table pallet_table_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pallet_table
    ADD CONSTRAINT pallet_table_name_key UNIQUE (name);


--
-- Name: pallet_table pallet_table_pallet_number_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pallet_table
    ADD CONSTRAINT pallet_table_pallet_number_key UNIQUE (pallet_number);


--
-- Name: pallet_table pallet_table_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pallet_table
    ADD CONSTRAINT pallet_table_pkey PRIMARY KEY (id);


--
-- Name: pkg_material pkg_material_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pkg_material
    ADD CONSTRAINT pkg_material_code_key UNIQUE (code);


--
-- Name: pkg_material pkg_material_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pkg_material
    ADD CONSTRAINT pkg_material_pkey PRIMARY KEY (id);


--
-- Name: pkg_material_type pkg_material_type_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pkg_material_type
    ADD CONSTRAINT pkg_material_type_pkey PRIMARY KEY (id);


--
-- Name: privileges privileges_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".privileges
    ADD CONSTRAINT privileges_name_key UNIQUE (name);


--
-- Name: privileges privileges_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".privileges
    ADD CONSTRAINT privileges_pkey PRIMARY KEY (id);


--
-- Name: raw_material raw_material_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".raw_material
    ADD CONSTRAINT raw_material_code_key UNIQUE (code);


--
-- Name: raw_material raw_material_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".raw_material
    ADD CONSTRAINT raw_material_pkey PRIMARY KEY (id);


--
-- Name: raw_material_type raw_material_type_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".raw_material_type
    ADD CONSTRAINT raw_material_type_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: roles_privileges roles_privileges_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".roles_privileges
    ADD CONSTRAINT roles_privileges_pkey PRIMARY KEY (role_id, privilege_id);


--
-- Name: scrap scrap_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".scrap
    ADD CONSTRAINT scrap_code_key UNIQUE (code);


--
-- Name: scrap scrap_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".scrap
    ADD CONSTRAINT scrap_pkey PRIMARY KEY (id);


--
-- Name: scrap_type scrap_type_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".scrap_type
    ADD CONSTRAINT scrap_type_pkey PRIMARY KEY (id);


--
-- Name: size size_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".size
    ADD CONSTRAINT size_pkey PRIMARY KEY (id);


--
-- Name: spool spool_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".spool
    ADD CONSTRAINT spool_code_key UNIQUE (code);


--
-- Name: spool spool_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".spool
    ADD CONSTRAINT spool_name_key UNIQUE (name);


--
-- Name: spool spool_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".spool
    ADD CONSTRAINT spool_pkey PRIMARY KEY (id);


--
-- Name: spool spool_spool_number_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".spool
    ADD CONSTRAINT spool_spool_number_key UNIQUE (spool_number);


--
-- Name: supplier supplier_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".supplier
    ADD CONSTRAINT supplier_code_key UNIQUE (code);


--
-- Name: supplier supplier_name_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".supplier
    ADD CONSTRAINT supplier_name_key UNIQUE (name);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (id);


--
-- Name: uom uom_code_key; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".uom
    ADD CONSTRAINT uom_code_key UNIQUE (code);


--
-- Name: uom uom_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".uom
    ADD CONSTRAINT uom_pkey PRIMARY KEY (id);


--
-- Name: form_template uq_form_template_name_loc; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_template
    ADD CONSTRAINT uq_form_template_name_loc UNIQUE (name, loc_id);


--
-- Name: size uq_size_md_code_category; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".size
    ADD CONSTRAINT uq_size_md_code_category UNIQUE (name, category);


--
-- Name: wire uq_wire_md_code_category; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".wire
    ADD CONSTRAINT uq_wire_md_code_category UNIQUE (name, category);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_roles users_roles_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".users_roles
    ADD CONSTRAINT users_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: wire wire_pkey; Type: CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".wire
    ADD CONSTRAINT wire_pkey PRIMARY KEY (id);


--
-- Name: idx_basket_md_basket_number; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_basket_md_basket_number ON "vg-sc1".basket USING btree (basket_number);


--
-- Name: idx_bobbin_md_bobbin_number; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_bobbin_md_bobbin_number ON "vg-sc1".bobbin USING btree (bobbin_number);


--
-- Name: idx_business_units_code; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE UNIQUE INDEX idx_business_units_code ON "vg-sc1".business_units USING btree (code);


--
-- Name: idx_business_units_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE UNIQUE INDEX idx_business_units_name ON "vg-sc1".business_units USING btree (name);


--
-- Name: idx_color_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_color_name ON "vg-sc1".color USING btree (name);


--
-- Name: idx_data_type_short; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_data_type_short ON "vg-sc1".form_field_data_types USING btree (name);


--
-- Name: idx_form_template_attr; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_form_template_attr ON "vg-sc1".form_template USING gin (attributes);


--
-- Name: idx_form_template_loc_id; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_form_template_loc_id ON "vg-sc1".form_template USING btree (loc_id);


--
-- Name: idx_form_template_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_form_template_name ON "vg-sc1".form_template USING btree (name);


--
-- Name: idx_item_attr_path_ops; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_item_attr_path_ops ON "vg-sc1".items USING gin (attributes jsonb_path_ops);


--
-- Name: idx_location_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_location_name ON "vg-sc1".location USING btree (name);


--
-- Name: idx_location_parent; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_location_parent ON "vg-sc1".location USING btree (parent_loc_id);


--
-- Name: idx_location_type_code; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_location_type_code ON "vg-sc1".location_type USING btree (code);


--
-- Name: idx_location_type_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_location_type_name ON "vg-sc1".location_type USING btree (name);


--
-- Name: idx_location_unit_id; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_location_unit_id ON "vg-sc1".location USING btree (unit_id);


--
-- Name: idx_master_code; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_master_code ON "vg-sc1".master_data_registry USING btree (name);


--
-- Name: idx_pallet_md_pallet_number; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_pallet_md_pallet_number ON "vg-sc1".pallet_table USING btree (pallet_number);


--
-- Name: idx_size_md_lookup; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_size_md_lookup ON "vg-sc1".size USING btree (category, is_active);


--
-- Name: idx_spool_md_spool_number; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_spool_md_spool_number ON "vg-sc1".spool USING btree (spool_number);


--
-- Name: idx_supplier_md_code; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_supplier_md_code ON "vg-sc1".supplier USING btree (code);


--
-- Name: idx_supplier_md_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_supplier_md_name ON "vg-sc1".supplier USING btree (name);


--
-- Name: idx_type_short; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_type_short ON "vg-sc1".form_field_types USING btree (name);


--
-- Name: idx_uom_lookup; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_uom_lookup ON "vg-sc1".uom USING btree (category, is_active);


--
-- Name: idx_users_code; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE UNIQUE INDEX idx_users_code ON "vg-sc1".users USING btree (code);


--
-- Name: idx_users_email; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE UNIQUE INDEX idx_users_email ON "vg-sc1".users USING btree (email);


--
-- Name: idx_wire_md_cat; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_wire_md_cat ON "vg-sc1".wire USING btree (category, is_active);


--
-- Name: idx_wire_md_full_name; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_wire_md_full_name ON "vg-sc1".wire USING btree (name, is_active);


--
-- Name: idx_wire_md_val_uom; Type: INDEX; Schema: vg-sc1; Owner: vgroot
--

CREATE INDEX idx_wire_md_val_uom ON "vg-sc1".wire USING btree (val, uom, is_active);


--
-- Name: form_field fk_form_field_data_type; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field
    ADD CONSTRAINT fk_form_field_data_type FOREIGN KEY (field_data_type) REFERENCES "vg-sc1".form_field_data_types(id);


--
-- Name: form_field fk_form_field_type; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_field
    ADD CONSTRAINT fk_form_field_type FOREIGN KEY (field_type) REFERENCES "vg-sc1".form_field_types(id);


--
-- Name: form_template fk_form_template_location; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".form_template
    ADD CONSTRAINT fk_form_template_location FOREIGN KEY (loc_id) REFERENCES "vg-sc1".location(id);


--
-- Name: items fk_item_location; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".items
    ADD CONSTRAINT fk_item_location FOREIGN KEY (loc_id) REFERENCES "vg-sc1".location(id);


--
-- Name: location fk_location_type; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location
    ADD CONSTRAINT fk_location_type FOREIGN KEY (location_type_id) REFERENCES "vg-sc1".location_type(id);


--
-- Name: location fk_location_unit; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location
    ADD CONSTRAINT fk_location_unit FOREIGN KEY (unit_id) REFERENCES "vg-sc1".business_units(id);


--
-- Name: location fk_parent_location; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".location
    ADD CONSTRAINT fk_parent_location FOREIGN KEY (parent_loc_id) REFERENCES "vg-sc1".location(id);


--
-- Name: pkg_material fk_pkg_mat_type; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".pkg_material
    ADD CONSTRAINT fk_pkg_mat_type FOREIGN KEY (pkg_material_type_id) REFERENCES "vg-sc1".pkg_material_type(id);


--
-- Name: roles_privileges fk_privilege_rel; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".roles_privileges
    ADD CONSTRAINT fk_privilege_rel FOREIGN KEY (privilege_id) REFERENCES "vg-sc1".privileges(id) ON DELETE CASCADE;


--
-- Name: raw_material fk_raw_mat_type; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".raw_material
    ADD CONSTRAINT fk_raw_mat_type FOREIGN KEY (raw_material_type_id) REFERENCES "vg-sc1".raw_material_type(id);


--
-- Name: users_roles fk_role; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".users_roles
    ADD CONSTRAINT fk_role FOREIGN KEY (role_id) REFERENCES "vg-sc1".roles(id) ON DELETE CASCADE;


--
-- Name: roles_privileges fk_role_rel; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".roles_privileges
    ADD CONSTRAINT fk_role_rel FOREIGN KEY (role_id) REFERENCES "vg-sc1".roles(id) ON DELETE CASCADE;


--
-- Name: scrap fk_scrap_mat_type; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".scrap
    ADD CONSTRAINT fk_scrap_mat_type FOREIGN KEY (scrap_type_id) REFERENCES "vg-sc1".scrap_type(id);


--
-- Name: users_roles fk_user; Type: FK CONSTRAINT; Schema: vg-sc1; Owner: vgroot
--

ALTER TABLE ONLY "vg-sc1".users_roles
    ADD CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES "vg-sc1".users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict HCpsgW0pcqjmbMN1ZXu1EDe0KxkXBNR2oZESkY9g5hfGuyDdXBTYL3d66iM3nHS

